:root {
  --mainBg: #86AB89;
  --mainColor: #E7FBE6;
  --buttonHover: #a28b553b;
  --buttonActive: rgba(162, 139, 85, 0.7);
  --buttonText: white;
  --buttonColor: #A28B55;
  --borderColor: #A28B55;
  --selectBg: #CBE2B5;
  --selectColor: rgb(24, 66, 9);
  --border: #CBE2B5;
  --hoverDaySection: rgba(175, 208, 182, 0.52);
  --formBg: #F8F8F8;
  --inputTextColor: #4d4d4d;
  --textColor: #3f341d;
  --textColorHover: #42781b;
  --disabled: #a0a0a0;
  --disabledBorder: #b7b7b7;
  --ratingBg: #081C22;
  --borderWidth: 3px;
  --mainFont: 'Poppins';
  --logoFont: 'Rammetto One';
}