.sliders_control {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 55px;

  .sliders_control__label {
    position: absolute;
    top: 15px;
    font-weight: 400;
    font-size: 16px;
  }

  .sliders_control__label[for="toSlider"] {
    left: 80%;
  }

  .sliders_control__label[for="toSliderRating"] {
    left: 93.5%;
  }

  .sliders_control__label[for="toSliderRunTime"] {
    left: 55%;
    width: max-content;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 12px;
    height: 24px;
    background-color: #fff;
    border-radius: 15%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px var(--selectColor), 0 0 9px var(--selectColor);
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }

  #fromSlider, #fromSliderRating, #fromSliderRunTime{
    height: 0;
    z-index: 1;
    top: 1px;
  }
}

