.main {
  .agenda {
    .agenda__nav {
      display: flex;
      align-items: center;
      gap: 60px;
      padding: 0 45px;


      .agenda__nav__regulations {
        display: flex;
        align-items: center;
        gap: 10px;

        .agenda__nav__regulations__wrapper {
          height: 36px;
          width: 36px;
          transition: all ease-in-out 0.05s;
          border: none;

          position: relative;

          [class^="agenda__nav__regulations__arrow"] {
            position: absolute;
            z-index: 1;
            top: 7px;
            fill: var(--mainColor);
            background: transparent;
            cursor: pointer;
            width: 18px;
            height: 22px;
          }

          .agenda__nav__regulations__arrow-prev {
            transform: rotate(180deg);
            left: 8px;
          }

          .agenda__nav__regulations__arrow-next {
            right: 8px;
          }

          &:hover {
            border-radius: 100%;
            background: var(--buttonHover);
          }

          &:focus {
            border-radius: 100%;
            background: var(--buttonHover);
          }

          &:active {
            border-radius: 100%;
            background: var(--buttonActive);
          }
        }
      }

      .agenda__nav__button {
        border: solid 5px var(--borderColor);
        border-radius: 35px;
        padding: 8px 17px;
        user-select: none;

        font-size: 21px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background: var(--buttonHover);
        }

        &:focus {
          background: var(--buttonHover);
        }

        &:active {
          background: var(--buttonActive);
        }
      }

      .agenda__nav__month {
        font-size: 21px;
        font-weight: 500;
      }
    }

    .agenda__content {
      height: inherit;
      margin-top: 25px;
      padding: 0 25px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      .agenda__content__day {
        border-right: var(--borderWidth) solid var(--border);


        &:first-of-type {
          border-left: var(--borderWidth) solid var(--border);
        }

        .agenda__content__day__title {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          text-align: center;
          font-weight: 400;
          font-size: 18px;
          border: var(--borderWidth) solid var(--border);
          border-right: none;
          border-left: none;
          user-select: none;
        }

        .agenda__content__day__week__day {
          height: 120px;
          cursor: pointer;
          transition: background-color ease-in-out 0.2s;

          &:not(:last-child) {
            border-bottom: var(--borderWidth) solid var(--border);
          }

          @media (min-height: 995px) {
            &:nth-child(7) {
              border-bottom: var(--borderWidth) solid var(--border);
            }
          }

          &:hover {
            background: var(--hoverDaySection);
          }
        }
      }
    }
  }
}